/include/
/include_OpenCV/
/include_PCL/
/include_RealSense/
/lib/
/lib_Minidump/
/lib_OpenCV/
/lib_PCL/
/lib_RealSense/
/build/
/build/
/debug/
/release/
*.jpg
*.user
*.hdev
*.dll
*.lib
.qmake*
Makefile*